<template>
    <div class="search-container">
        <div class="search-item">
            <a href="" @click.prevent><p>{{ item.name }}</p></a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: { required: true },
            searchText: { required: true }
        }
    }
</script>

<style scoped>
    .search-container {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #f5f5f5;
        padding: 0px 5px;
    }
    .search-container p{
        color: #0a0a0a!important;
    }
    .search-item p{
        padding-bottom: 0;
        margin-bottom: 6px;
        margin-top: 16px;
        font-size: 14px;
        text-align: center;
    }
</style>