<template>
    <div class="left-raiting">
        <button :disabled="isProceed" @click.prevent="like(id)" class="left-raiting-up"></button>
        <span>{{ getRating }}</span>
        <button :disabled="isProceed" @click.prevent="dislike(id)" class="left-raiting-down"></button>
    </div>
</template>

<script>
    import {EventBus} from "../../services/EventBus";
    import Flash from '../../services/Flash'

    export default {
        props: ['id', 'postRating'],

        data() {
            return {
                isProceed: false,
                rating: this.postRating
            }
        },

        created() {
            EventBus.$on('postLiked', this.like);
            EventBus.$on('postDisliked', this.dislike);
        },

        computed: {
            getRating() {
                return this.rating || 0
            }
        },

        methods: {
            like(id) {
                if (this.isProceed || id !== this.id) return;

                this.isProceed = true;

                this.rating++;

                axios.post('/api/likes/posts/like', {id: id})
                    .then(res => {
                        if (!res.data.success) {
                            this.rating--;
                            this.isProceed = false;
                        }
                        this.isProceed = false;
                    })
                    .catch(err => {
                        this.rating--;
                        this.isProceed = false;
                        if (err.response.status === 401) {
                            Flash.error('Пожалуйста, войди в аккаунт или зарегистрируйтесь.')
                        }
                    })
            },

            dislike(id) {
                if (this.isProceed || id !== this.id) return;

                this.isProceed = true;

                this.rating--;

                axios.post('/api/likes/posts/dislike', {id: id})
                    .then(res => {
                        if (!res.data.success) {
                            this.rating++;
                            this.isProceed = false;
                        }
                        this.isProceed = false;
                    })
                    .catch(err => {
                        this.rating++;
                        this.isProceed = false;
                        if (err.response.status === 401) {
                            Flash.error('Пожалуйста, войди в аккаунт или зарегистрируйтесь.')
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>