<template>
    <div>
        <div class="find-post-block">
            <input v-model="filter.search" class="comment" type="text" placeholder="Поиск" style="cursor: text">
            <div>
                <button @click.prevent="applyFilter">Поиск</button>
            </div>
        </div>
        <div v-if="mode === 'all'" class="post-block">
            <div class="create-form-element">
                <label>Только с тэгом</label>
                <v-autocomplete
                        v-model="filter.tag"
                        :items="items"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        @item-selected="applyFilter"
                        @update-items="updateItems">
                </v-autocomplete>
            </div>
        </div>
        <div v-if="mode === 'all'" class="find-post-block" id="communityfiltersome">
            <label>Тип сообщества</label>
            <select @change.prevent="applyFilter" class="btn btn-warning" title="Тип сообщества" v-model="filter.type">
                <option v-for="type in types" :value="type.key">{{ type.name }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    import itemTemplate from '../ItemTemplate'

    export default {
        props: ['mode'],

        data() {
            return {
                types: [
                    {key: 'all', name: 'Все'},
                    {key: 'private', name: 'Закрытые'},
                    {key: 'public', name: 'Открытые'}
                ],
                filter: {
                    search: '',
                    type: 'all',
                    tag: null
                },
                items: [],
                template: itemTemplate
            }
        },

        methods: {
            applyFilter() {
                axios.post('/communities/filter', {filter: this.filter, mode: this.mode})
                    .then(res => {
                        document.getElementById('communities-list').innerHTML = res.data;
                    })
            },

            getLabel(item) {
                if (item) return item.name
            },

            updateItems(text) {
                axios.post('/api/tags/search', {search: text})
                    .then(res => {
                        this.items = res.data.data;
                    })
            }
        }
    }
</script>

<style scoped>
    .night #communityfiltersome * {
        color: white !important;
    }
    #communityfiltersome * {
        color: black !important;
    }

</style>