<template>
    <div class="container-left">
        <div class="container-content create-form">
            <div class="create-form-element">
                <input v-model="community.name" class="community-name" type="text" placeholder="Название сообщества"
                       required/>
            </div>
            <div v-if="errors.name" class="alert-danger" v-text="errors.name[0]"></div>
        </div>

        <div class="alert alert-danger" v-if="errors.image" v-text="errors.image[0]"></div>

        <div class="container-content create-form">
            <table>
                <tr>
                    <td style="width:100% !important">
                        <div class="create-form-element" id="create-form-element-first">
                            <div class="content-loader">
                                <div class="content-loader-image" id="prevImageContent" @click.prevent="addImage">
                                    Картинка
                                </div>
                                <input id="uploadImage" type="file" style="display: none;"
                                       @change.prevent="onFileChange" accept="image/*"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="create-form-element" v-if="url">
                            <div id="preview" class="content-loader">
                                <img :src="url"/>
                                <i class="fa fa-eye" style="color:orange"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="create-form-element">
                <v-autocomplete
                        :items="searchTags"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        @item-selected="addTag"
                        @update-items="updateItems"
                        :auto-select-one-item="false"
                        :input-attrs="{placeholder: 'Введите хэштеги'}">
                </v-autocomplete>
            </div>

            <div class="create-form-element">
                <div class="container-content-heshtag">
                    <div v-for="(tag, index) in tags" :key="index" @click.prevent="deleteTag(index)">
                        {{ tag.name }}
                    </div>
                </div>
            </div>

            <div class="create-form-element create-form-element-category">
                <div class="create-form-element-category-title">Тип сообщества</div>
                <div class="create-form-element">
                    <div class="settings-content-item">
                        <div class="settings-content-item-input">
                            <input v-model="community.private" type="checkbox" id="checkbox6"/>
                            <label class="label-checkbox" for="checkbox6"></label>
                        </div>
                        <div class="settings-content-item-description checkbox-post">
                            Скрытое<br>
                            <span>Видно не всем.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-form-element create-form-element-buttons">
                <div>
                    <div class="personal-add-post">
                        <button @click.prevent="submit()">Добавить Сообщество</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import itemTemplate from '../ItemTemplate'
    import Flash from '../../services/Flash'

    export default {
        data() {
            return {
                template: itemTemplate,
                searchTags: [],
                errors: [],
                url: null,
                tags: [],
                community: {
                    name: '',
                    private: false,
                    image: null
                }
            }
        },
        methods: {
            addImage() {
                let faf = document.getElementById('uploadImage');
                faf.click();
            },

            onFileChange(e) {
                this.community.image = e.target.files[0];
                this.url = URL.createObjectURL(this.community.image);
            },

            getLabel(item) {
            },

            addTag(item) {
                if (this.tags.some((v) => {
                    return item.id === v.id
                })) {
                    return;
                }
                this.tags.push(item);
            },

            updateItems(text) {
                axios.post('/api/tags/search', {search: text})
                    .then(res => {
                        this.searchTags = res.data.data;
                    })
                    .catch(err => {
                        this.errors = err.response.data.errors;
                    })
            },

            deleteTag(index) {
                this.tags = this.tags.filter((v, k) => {
                    return k !== index;
                })
            },

            submit() {
                let data = new FormData();

                Object.entries(this.community).forEach(v => {
                    data.append(v[0], v[1]);
                });

                data.append('tags', JSON.stringify(this.tags));

                axios.post('/communities/', data)
                    .then(res => {
                        if (res.data.url != null) {
                            document.location.href = res.data.url;
                            Flash.success('Вы успешно создали сообщество.')
                        }
                    })
                    .catch(err => {
                        this.errors = err.response.data.errors;
                        Flash.error('Ошибка создания сообщества.')
                    })
            },
        }
    }
</script>

<style scoped>
    .disabled {
        background: url(/image/close.png) no-repeat transparent center center !important;
    }

    #preview img {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
    }

    #create-form-element-first:hover {
        cursor: pointer;
    }
</style>