<template>
    <div class="post-block no-postblock" v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed"
         :infinite-scroll-distance="10">

        <div class="sort-comment">
            <div>{{ getCommentsCount }} комментариев</div>
            <select class="sort-by btn btn-warning" @change="sortComments($event.target.value)">
                <option class="sort-btn" value="rating">По рейтингу</option>
                <option class="sort-btn" value="date">По дате</option>
            </select>
        </div>

        <div class="content-block">
            <comment
                    style="overflow: hidden;"
                    v-for="comment in items"
                    :key="comment.id"
                    :comment="comment"
                    :sort="sort"
            ></comment>

            <div class="answer-footer">
                <div class="text-container">
                    <vue-editor
                            class="text-editor"
                            :editorToolbar="customToolbar"
                            v-model="reply.text"
                            placeholder="Введите текст"
                    />
                </div>
                <div v-if="img.length" style="padding-bottom: 10px;position: relative">
                    <button class="img-del" @click="() => this.img = ''">x</button>
                    <img :src="img"/>
                </div>
                <div>
                    <div class="personal-add-post">
                        <button @click.prevent="replyComment" :disabled="isProceed">Отправить</button>
                    </div>
                    <button @click="addImage" class="attached"></button>
                    <input v-show="false" id="uploadImage" type="file" @change.prevent="getPreview"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import comment from './Comment'
    import commentFilter from './CommentFilter'
    import Flash from '../../services/Flash'
    import BaseList from '../../mixins/BaseList'
    import {EventBus} from "../../services/EventBus"
    import {VueEditor} from "vue2-editor"

    export default {
        props: ['id', 'apiUrl'],

        mixins: [BaseList],

        components: {commentFilter, comment},

        created() {
            EventBus.$on('commentAdded', () => {this.meta.comments_count++;})
        },

        mounted() {
            $('.ql-editor').css('min-height', 0);
        },

        data() {
            return {
                customToolbar: ['bold', 'italic', 'underline', 'strike'],
                api: this.apiUrl,
                sort: 'rating',
                img: '',
                reply: {
                    text: '',
                    image: '',
                    post_id: this.id,
                    parent_id: null
                },
                filter: {
                    search: '',
                },
                params: {
                    post_id: this.id
                }
            }
        },

        computed: {
            getCommentsCount() {
                return this.meta.comments_count || 0
            }
        },

        methods: {
            replyComment() {
                if (this.isProceed) return;

                this.isProceed = true;

                let data = new FormData();

                if (this.reply.parent_id) {
                    data.append('parent_id', this.reply.parent_id);
                }

                data.append('image', this.reply.image);
                data.append('text', this.reply.text);
                data.append('post_id', this.reply.post_id);

                axios.post('/api/comments', data)
                    .then(res => {
                        this.isProceed = false;
                        this.reply.text = '';
                        this.reply.image = '';
                        this.img = '';
                        this.items.push(res.data.data);
                        EventBus.$emit('commentAdded');
                        Flash.success('Комментарий добавлен');
                    })
                    .catch(err => {
                        this.isProceed = false;
                        this.reply.text = '';
                        Flash.error('Ошибка добавления комментария');
                    })
            },

            sortComments(value) {
                this.items = _.orderBy(this.items, [value], 'desc')
            },

            addImage() {
                document.getElementById('uploadImage').click();
            },

            getPreview(e) {
                let data = new FormData();

                data.append('image', e.target.files[0]);
                this.reply.image = e.target.files[0];

                axios.post('/api/comments/image-preview', data)
                    .then(res => {
                        e.target.value = null;
                        this.img = res.data.encoded;
                    })
                    .catch(err => {
                        console.log(err.response)
                    })
            }
        }
    }
</script>

<style scoped>
    .img-del {
        position: absolute;
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: none;
        left: 9%;
        top: -9%;
    }
    .no-postblock {
        padding: 0;
    }
    .text-editor {
        border: 2px solid #a1b3cc;
        width: 100%;
    }
    .text-container {
        padding-bottom: 5px;
        padding-top: 30px;
    }
</style>