<template>
    <div v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed" :infinite-scroll-distance="10">
        <comment-filter
                mode="answer"
                v-model="filter.search"
                @update="getData"
        ></comment-filter>

        <answer :data="comment" :key="comment.id" v-for="comment in items" style="margin-top: 15px"></answer>

    </div>
</template>

<script>
    import commentFilter from '../comments/CommentFilter'
    import answer from "./Answer";
    import BaseList from '../../mixins/BaseList'

    export default {
        props: ['mode', 'apiUrl'],

        mixins: [BaseList],

        components: {answer, commentFilter},

        data() {
            return {
                api: this.apiUrl,
                filter: {
                    search: '',
                },
                params: {
                    mode: this.mode || 'all'
                }
            }
        }
    }
</script>

<style scoped>

</style>