<template>
    <button class="del-comment" v-if="isSaved" @click.prevent="remove" style="width: 43px;">X</button>
    <button v-else @click.prevent="save" class="download-comment"></button>
</template>

<script>
    import Flash from '../../services/Flash'

    export default {
        props: ['id', 'saved'],

        data() {
            return {
                isSaved: this.saved,
            }
        },

        methods: {
            save() {
                axios.post('/api/saves/add', {id: this.id, type: 2})
                    .then(res => {
                        if (res.data.status) {
                            Flash.success('Комментарий сохранен');
                            this.isSaved = true;
                        }
                    })
            },

            remove() {
                axios.post('/api/saves/delete', {id: this.id, type: 2})
                    .then(res => {
                        if (res.data.status) {
                            Flash.success('Комментарий удален');
                            this.isSaved = false;
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>

