<template>
    <div>
        <div v-if="items.length" v-infinite-scroll="loadMore" :infinite-scroll-disabled="isProceed"
             :infinite-scroll-distance="10">
            <note
                    v-for="note in items"
                    :key="note.id"
                    :data="note"
                    @removeUser="removeUser"
            ></note>
        </div>
        <div v-else class="post-block" style="margin-top: 15px">
            <p style="text-align: center;margin-bottom: 0;font-size: 21px">
                У вас ещё нет заметок.
            </p>
        </div>
    </div>
</template>

<script>
    import Note from './Note'
    import BaseList from "../../mixins/BaseList";
    import infiniteScroll from 'vue-infinite-scroll'

    export default {
        props: ['apiUrl'],

        components: {Note},

        mixins: [BaseList],

        directives: {infiniteScroll},

        data() {
            return {
                api: this.apiUrl
            }
        },

        methods: {
            removeUser(id) {
                this.items = this.items.filter((v) => {
                    return v.id !== id;
                })
            }
        }
    }
</script>

<style scoped>

</style>