<template>
    <div class="following" style="margin-top: 15px;">
        <div class="following-item" style="display: inline-block; width: 100%">
            <button @click="remove" class="del-note"></button>
            <img :src="note.user.avatar" alt="photo">
            <a style="cursor: pointer" :href="note.user.show">{{ note.user.name }}</a>
        </div>
        <div class="following-item" style="display: inline-block; margin-top: 15px">
            {{ note.text }}
        </div>
    </div>
</template>

<script>
    import Flash from "../../services/Flash";

    export default {
        props: ['data'],

        data() {
            return {
                note: this.data
            }
        },

        methods: {
            remove() {
                axios.delete('/api/notes/' + this.note.id)
                    .then(res => {
                        if (res.data.success) {
                            this.$emit('removeUser', this.note.id);
                            Flash.success('Заметка удалена.')
                        }
                    })
                    .catch(err => {
                        Flash.error('Ошибка удаления заметки.')
                    });
            }
        }
    }
</script>

<style scoped>

</style>