<template>
    <div>
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" v-if="isSubscribed" @click="unsubscribe"><i class="fa fa-times"></i> Отписаться</a>
                <a class="dropdown-item" v-else @click="subscribe"><i class="fa fa-plus"></i> Подписаться</a>
                <hr>
                <a class="dropdown-item" v-if="isIgnored" @click="unignore"><i class="fa fa-user-plus"></i> Не
                    игнорировать</a>
                <a class="dropdown-item" v-else @click="ignore"><i class="fa fa-user-times"></i>Игнорировать</a>
            </div>
        </div>
    </div>
</template>

<script>
    import Flash from "../../services/Flash";

    export default {
        props: ['id', 'subscribed', 'ignored'],

        data() {
            return {
                isSubscribed: this.subscribed,
                isIgnored: this.ignored
            }
        },

        methods: {
            subscribe() {
                axios.post('/api/subscribes/subscribe', {id: this.id})
                    .then(res => {
                        this.isSubscribed = true;
                        Flash.success('Вы отслеживаете изменения пользователя.')
                    })
            },

            unsubscribe() {
                axios.post('/api/subscribes/unsubscribe', {id: this.id})
                    .then(res => {
                        this.isSubscribed = false;
                        Flash.success('Вы отменили подписку на изменения пользователя.')
                    })
            },

            ignore() {
                axios.post('/api/subscribes/ignore', {id: this.id})
                    .then(res => {
                        this.isIgnored = true;
                        Flash.success('Вы гнорируете пользователя.')
                    })
            },

            unignore() {
                axios.post('/api/subscribes/unignore', {id: this.id})
                    .then(res => {
                        this.isIgnored = false;
                        Flash.success('Вы больше не игнорируете пользователя.')
                    })
            }
        }
    }
</script>

<style scoped>
    .dropdown-item:hover {
        cursor: pointer !important;
        font-weight: bold !important;
        background: none !important;
    }

    .dropdown-item {
        font-size: 14px !important;
    }

    .dropdown-menu {
        background-color: orange;
    }
</style>