<template>
    <select class="sort-by btn btn-warning" v-model="state" @change="apply">
        <option class="sort-btn" value="show">Показывать</option>
        <option class="sort-btn" value="hide">Скрывать</option>
    </select>
</template>

<script>
    import {EventBus} from '../../services/EventBus'

    export default {
        data() {
            return {
                state: 'show'
            }
        },

        created() {
            this.getViewedPostsState();
        },

        methods: {
            apply() {
                axios.post('/api/users/posts/state/erotic', {state: this.state})
                    .then(res => {
                        if (res.data.success) {
                            EventBus.$emit('postsStateChanged');
                        }
                    });
            },

            getViewedPostsState() {
                axios.get('/api/users/posts/state/erotic')
                    .then(res => {
                        if (res.data.state) {
                            this.state = res.data.state;
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>