<template>
    <HotelDatePicker
            ref="datePicker"
            @checkInChanged="updateCheckIn"
            @checkOutChanged="updateCheckOut"
            format="DD/MM/YYYY"
            :startDate="getStart"
            :showYear="true"
            :minNights="0"
            :i18n="i18n"
    ></HotelDatePicker>
</template>

<script>
    import HotelDatePicker from 'vue-hotel-datepicker'
    import {EventBus} from '../../services/EventBus.js'

    export default {
        props: ['night'],

        components: {
            HotelDatePicker
        },

        mounted() {
            this.initWatchers();
        },

        data() {
            return {
                date: {
                    start: null,
                    end: null,
                },
                i18n: {
                    night: '',
                    nights: '',
                    'day-names': ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    'check-in': 'C',
                    'check-out': 'По',
                    'month-names': ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                }
            }
        },

        computed: {
            getStart() {
                let date = new Date();
                return new Date(date.getFullYear(), date.getMonth() - 1, 1)
            },

            isNight() {
                return this.night ? 'test' : ''
            }
        },

        methods: {
            updateCheckIn(date) {
                if (date === this.date.start) return;
                this.date.start = new Date(date).toDateString();
            },

            updateCheckOut(date) {
                if (date === this.date.end) return;
                this.date.end = new Date(date).toDateString();
            },

            change() {
                EventBus.$emit('dateChanged', this.date);
            },

            initWatchers() {
                this.$watch(() => {
                    return this.$refs.datePicker.isOpen
                }, n => {
                    if (!n) {
                        this.change();
                    }
                });

                this.$watch(() => {
                    return this.$refs.datePicker.checkIn
                }, v => {
                    if (!v && !this.$refs.datePicker.checkOut) {
                        this.date.end = null;
                        this.date.start = null;
                        console.log(this.date);
                        this.change();
                    }
                });
            },

            getMode() {
                return !this.night ? 'dark_picker' : ''
            }
        }
    }
</script>

<style scoped>

</style>