<template>
    <div class="container-left">
        <div class="container-content create-form">
            <div class="create-form-element">
                <input v-model="post.title" class="post-title" type="text" placeholder="Название поста"/>
            </div>
            <div v-if="errors.title" class="alert-danger" v-text="errors.title[0]"></div>
        </div>

        <div class="container-content create-form">

            <draggable v-model="chunks" :options="{handle: '.draggable'}">
                <div :id="index" class="create-form-element draggable" v-for="(chunk, index) in chunks"
                     :key="index" style="position: relative">

                    <div class="left-icons arr" style="top: 55px;">
                        <button :id="'add' + index" class="add" @click.prevent="toggleContentLoader(index)"></button>
                        <button class="menu"></button>
                    </div>

                    <vue-editor
                            :editorToolbar="customToolbar"
                            v-if="chunk.type === 'text'"
                            v-model="chunk.content"
                            placeholder="Введите текст"
                    />

                    <img style="width: 100%" v-if="chunk.type === 'image'" :src="chunk.content"/>

                    <youtube
                            v-if="chunk.type === 'video'"
                            :video-id="chunk.content"
                            player-width="100%"
                            player-height="400px"
                    ></youtube>

                    <button class="btn del btn-danger" @click.prevent="removeChunk(index)">x</button>
                </div>
            </draggable>

            <modal name="video" height="auto">
                <div class="create-form">
                    <div class="create-form-element">
                        <input v-model="videoUrl" class="post-title" type="text" placeholder="Введите ссылку на видео"/>
                    </div>
                    <div class="create-form-element">
                        <button class="btn btn-danger video" @click="hide">отмена</button>
                        <button class="btn btn-success video" @click="addVideo">принять</button>
                    </div>
                </div>
            </modal>

            <div class="create-form-element" style="margin-top: 15px">
                <div class="content-loader">
                    <div class="content-loader-text" @click.prevent="addChunk">Текст</div>
                    <div class="content-loader-image" @click.prevent="addImage">
                        Картинка
                    </div>
                    <input id="uploadImage" type="file" name="images" style="display: none;"
                           @change.prevent="storeImage"/>
                    <div class="content-loader-video" @click.prevent="getVideo">Видео</div>
                </div>
                <div v-if="hasChunkErrors" class="alert-danger" v-text="'Заполните содержимое поста.'"></div>
            </div>

            <div class="create-form-element">
                <v-autocomplete
                        :items="tags"
                        :get-label="getLabel"
                        :component-item='template'
                        :min-len="3"
                        @item-selected="addTag"
                        @update-items="updateTags"
                        :auto-select-one-item="false"
                        :input-attrs="{placeholder: 'Введите хэштеги'}">
                </v-autocomplete>
            </div>

            <div class="create-form-element">
                <div class="container-content-heshtag">
                    <div
                            v-for="(tag, index) in selectedTags"
                            :key="index"
                            @click.prevent="deleteTag(index)"
                    ><a href="" @click.prevent>{{ tag.name }}</a>
                    </div>
                </div>
            </div>

            <div class="create-form-element create-form-element-category">
                <div class="create-form-element-category-title">Категория</div>
                <div class="create-form-element-category-list">
                    <div v-for="(category, index) in categories" :key="category.id">
                        <input class="error" type="radio" :id="'radioButton' + category.id"
                               v-model="post.category_id"
                               :value="category.id"
                               :checked="index === 0">
                        <label :for="'radioButton' + category.id">{{ category.name }}</label>
                    </div>
                </div>
                <div v-if="errors.category_id" class="alert-danger" v-text="errors.category_id[0]"></div>
            </div>
            <div class="create-form-element">
                <div class="settings-content-item">
                    <div class="settings-content-item-input">
                        <input v-model="post.my" type="checkbox" id="checkbox6"/>
                        <label class="label-checkbox" for="checkbox6"></label>
                    </div>
                    <div class="settings-content-item-description checkbox-post">
                        Моё<br>
                        <span>Содержание поста созданно вами. Например, вы сделали эту фотографию или написали данный расcказ.</span>
                    </div>
                </div>

                <div class="settings-content-item">
                    <div class="settings-content-item-input">
                        <input v-model="post.erotic" type="checkbox" id="checkbox8"/>
                        <label class="label-checkbox" for="checkbox8"></label>
                    </div>
                    <div class="settings-content-item-description checkbox-post">
                        Пост содержит эротические материалы
                    </div>
                </div>

                <div v-if="post.draft" class="settings-content-item">
                    <div class="settings-content-item-input">
                        <input @change="toggleCommunity" type="checkbox" id="checkbox7"/>
                        <label class="label-checkbox" for="checkbox7"></label>
                    </div>
                    <div class="settings-content-item-description">Опубликовать в сообществе</div>
                </div>
                <div v-if="showCommunity" class="create-form-element">
                    <v-autocomplete
                            :items="communities"
                            :get-label="getLabel"
                            :component-item='template'
                            :min-len="3"
                            @item-selected="addCommunity"
                            @update-items="updateCommunity"
                            :auto-select-one-item="false"
                            :input-attrs="{placeholder: 'Введите название сообщества'}">
                    </v-autocomplete>
                </div>
                <div v-if="community" class="create-form-element">
                    <div class="container-content-heshtag">
                        <div @click.prevent="deleteCommunity()">
                            <a href="" @click.prevent>{{ community.name }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-form-element compare-posts">
                Похожих постов не найдено
            </div>

            <div class="create-form-element create-form-element-buttons">
                <div v-if="! post.draft && post.id">
                    <div class="personal-add-post">
                        <button @click.prevent="update()">Сохранить пост</button>
                    </div>
                </div>
                <div v-else>
                    <div class="personal-add-post">
                        <button @click.prevent="submit()">Добавить пост</button>
                    </div>
                    <div class="create-form-element-buttons-save">
                        <a class="underline" href="" @click.prevent="draft">Сохранить черновик</a>
                        <div v-if="updated_at">Сохранено в {{ updated_at }}</div>
                    </div>
                </div>
                <div class="create-form-element-buttons-before">
                    <a class="underline" href="" @click.prevent="showPreview">Предпросмотр</a>
                </div>
            </div>
        </div>

        <post-preview v-if="isPreviewed" :data="getPreview"></post-preview>

    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import ContentLoader from './ContentLoader'
    import ItemTemplate from '../ItemTemplate'
    import {getIdFromURL} from 'vue-youtube-embed'
    import PostPreview from './PostPreview'
    import {VueEditor} from "vue2-editor"
    import Flash from '../../services/Flash'

    export default {
        components: {
            draggable,
            ContentLoader,
            PostPreview,
            VueEditor
        },

        props: ['categories', 'initpost'],

        data() {
            return {
                customToolbar: ['bold', 'italic', 'underline', 'strike'],
                videoUrl: '',
                loader: null,
                prevIndex: false,
                community: null,
                communities: [],
                chunks: [],
                tags: [],
                selectedTags: [],
                template: ItemTemplate,
                errors: [],
                updated_at: null,
                isPreviewed: false,
                showCommunity: false,
                post: {
                }
            }
        },

        created() {
            this.post = this.initpost.data;
            this.chunks = this.initpost.data.chunks;
            this.selectedTags = this.initpost.data.tags;
            this.community = this.initpost.data.community;
            this.updated_at = this.initpost.data.updated_at;

            this.$nextTick(() => {
                $('.ql-editor').css('min-height', 0);
            });
        },

        computed: {
            getPreview() {
                return Object.assign(
                    this.post,
                    {chunks: this.chunks},
                    {tags: this.selectedTags},
                    {community: this.community}
                )
            },

            hasChunkErrors() {
                let reg = /chunks/;
                let err = false;

                Object.keys(this.errors).forEach((k) => {
                    if (this.errors.hasOwnProperty(k) && reg.test(k)) {
                        err = true;
                    }
                });

                return err;
            }
        },

        methods: {
            show() {
                this.$modal.show('video');
            },

            hide() {
                this.$modal.hide('video');
            },

            update() {
                this.errors = {};

                axios.put(`/posts/${this.post.slug}`, Object.assign(this.post, {chunks: this.chunks}, {tags: this.selectedTags}))
                    .then(res => {
                        if (res.data.success) {
                            document.location.href = res.data.url;
                        }
                    })
                    .catch(err => {
                        this.errors = err.response.data.errors;
                        Flash.error('Исправьте пожалуйста ошибки.');
                    })
            },

            submit() {
                this.errors = {};

                axios.post('/posts', Object.assign(this.post, {chunks: this.chunks, tags: this.selectedTags}))
                    .then(res => {
                        if (res.data.success) {
                            document.location.href = res.data.url;
                        }
                    })
                    .catch(err => {
                        this.errors = err.response.data.errors;
                        Flash.error('Исправьте пожалуйста ошибки.');
                    })
            },

            draft() {
                this.errors = {};

                axios.post('/posts/draft', Object.assign(this.post, {chunks: this.chunks, tags: this.selectedTags}))
                    .then(res => {
                        this.updated_at = res.data.updated_at;
                        this.post = res.data.data;
                        this.chunks = res.data.data.chunks;
                    })
                    .catch(err => {
                        this.errors = err.response.data.errors;
                        Flash.error('Исправьте пожалуйста ошибки.');
                    })
            },

            addChunk() {
                let chunk = {
                    content: '',
                    type: 'text'
                };

                if (this.loader) {
                    this.chunks.splice(this.loader.getIndex(), 0, chunk);
                    this.destroyLoader();
                } else {
                    this.chunks.push(chunk)
                }

                this.$nextTick(() => {
                    $('.ql-editor').css('min-height', 0);
                });
            },

            removeChunk(index) {
                this.chunks = this.chunks.filter((v, i) => {
                    if (i === index && v.id) {
                        axios.delete('/posts/chunks/' + v.id)
                            .then(res => {
                                console.log(res.data);
                            })
                    }
                    return i !== index;
                });
            },

            addImage() {
                document.getElementById('uploadImage').click();
            },

            storeImage(e) {
                let data = new FormData();

                data.append('image', e.target.files[0]);

                axios.post('/posts/store-image', data)
                    .then(res => {
                        e.target.value = null;

                        let chunk = {
                            content: res.data,
                            type: 'image'
                        };

                        if (this.loader) {
                            this.chunks.splice(this.loader.getIndex(), 0, chunk);
                            this.destroyLoader();
                        } else {
                            this.chunks.push(chunk)
                        }
                    })
                    .catch(err => {
                        console.log(err.response)
                    })
            },

            getVideo() {
                this.videoUrl = '';
                this.show();
            },

            addVideo() {
                this.hide();

                let chunk = {
                    content: getIdFromURL(this.videoUrl),
                    type: 'video'
                };

                if (this.loader) {
                    this.chunks.splice(this.loader.getIndex(), 0, chunk);
                    this.destroyLoader();
                } else {
                    this.chunks.push(chunk)
                }
            },

            toggleContentLoader(index) {
                if (index === this.prevIndex && this.loader) {
                    this.destroyLoader();
                    return;
                }

                if (this.loader) {
                    this.destroyLoader();
                }

                this.createLoader(index);
            },

            createLoader(index) {
                let Loader = Vue.extend(ContentLoader);
                let parent = document.getElementById(index);

                this.loader = new Loader({
                    propsData: {
                        index: index
                    }
                }).$mount();

                this.loader.$on('addChunk', this.addChunk);
                this.loader.$on('addImage', this.addImage);
                this.loader.$on('addVideo', this.getVideo);

                this.prevIndex = index;
                parent.getElementsByClassName('add').item(0).classList.toggle('disabled');
                parent.parentNode.insertBefore(this.loader.$el, parent);
            },

            destroyLoader() {
                $(`#add${this.prevIndex}`)[0].classList.toggle('disabled');
                this.loader.disable();
                this.loader = false;
            },

            getLabel(item) {
            },

            updateTags(text) {
                axios.post('/api/tags/search', {search: text})
                    .then(res => {
                        this.tags = res.data.data;
                    })
            },

            addTag(item) {
                if (this.selectedTags.some((v) => {
                    return item.id === v.id
                })) {
                    return;
                }
                this.selectedTags.push(item);
            },

            deleteTag(index) {
                this.selectedTags = this.selectedTags.filter((v, k) => {
                    return k !== index;
                })
            },

            showPreview() {
                this.isPreviewed = !this.isPreviewed
            },

            addCommunity(item) {
                this.community = item;
                this.post.community_id = item.id;
            },

            updateCommunity(text) {
                axios.post('/api/communities/search', {search: text})
                    .then(res => {
                        this.communities = res.data.data;
                    })
            },

            deleteCommunity() {
                this.community = null;
                this.post.community_id = null;
            },

            toggleCommunity() {
                this.showCommunity = !this.showCommunity;
            }
        }
    }
</script>

<style scoped>
    .disabled {
        background: url(/image/close.png) no-repeat transparent center center !important;
    }

    .del {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: 435px;
        margin-top: -21px;
    }

    .arr {
        position: absolute;
        top: 50% !important;
        left: 50%;
        margin-left: -483px;
        margin-top: -29px;
    }

    .video {
        margin-bottom: 20px;
        float: right;
    }

    .underline {
        text-decoration: underline !important;
    }
</style>