<template>
    <div class="find-post-block">
        <input v-model="filter.search" class="comment" type="text" placeholder="Текст" style="cursor: text">
        <div>
            <button @click="apply">Поиск</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                filter: {
                    search: ''
                }
            }
        },

        methods: {
            apply() {
                this.$parent.$emit('updateFilter', this.filter);
            }
        }
    }
</script>

<style scoped>

</style>